<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/schoolapp/css/login-register.css') }}" type="text/css">
    {% endblock %}

    {% block stylesheets_general %}
        <link rel="stylesheet" href="{{ asset('bundles/schoolapp/css/bootstrap.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('bundles/schoolapp/fontawesome/css/all.css') }}" type="text/css">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/schoolapp/icons/logo.png') }}" />
</head>
<body>
{% block hedears %}
{% endblock %}
{% block body %}
{% endblock %}
{% block footers %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/schoolapp/js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('bundles/schoolapp/js/bootstrap.min.js') }}"></script>
{% endblock %}

</body>
</html>
